<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testes advantageonlineshopping">
  <test thread-count="5" name="Test">
    <classes>
      <class name="br.com.rsinet.hub_tdd_mobile.tests.CadastroTest"/>
      <class name="br.com.rsinet.hub_tdd_mobile.tests.BuscaHomeTest"/>
      <class name="br.com.rsinet.hub_tdd_mobile.tests.BuscaLupaTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->